.my-page-container {
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
    background-color: #000; /* 배경을 검정색으로 변경 */
    border-radius: 10px;
    color: #fff; /* 텍스트 색상을 흰색으로 변경 */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }
  
  .my-page-container h1 {
    text-align: center;
    margin-bottom: 20px;
  }
  
  .my-page-form {
    display: flex;
    flex-direction: column;
  }
  
  .input-group {
    margin-bottom: 15px;
  }
  
  .input-group label {
    margin-bottom: 5px;
    font-size: 1em;
  }
  
  .input-group input {
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
    font-size: 1em;
  }
  
  .submit-button {
    padding: 10px;
    border: none;
    border-radius: 5px;
    background-color: #007bff;
    color: white;
    cursor: pointer;
    font-size: 1em;
  }
  
  .submit-button:hover {
    background-color: #0056b3;
  }
  